<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", [:edit, @post], class:"btn btn-info btn-sm" %>
  <%= button_to "Destroy this post", @post, class:"btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" } %>

  <div><%= link_to "Back to posts", posts_path, class:"btn btn-secondary btn-sm" %></div>
</div>
